include ../common/_mixins.pug
footer.footer
  .footer__main
    .footer__col
      .footer-desc
        .footer__desc-text
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__col
      .footer__menu
        nav.menu
          ul.menu__list
            -
              var pages = [
                ['Мои работы','work.html'],
                ['Обо мне','about.html'],
                ['Блог','blog.html'],
                ['Авторизация','index.html']
              ]
            each item in pages
              li.menu__item
                  a(href=`${item[1]}`).menu__link #{item[0]}
      +social('social', ["vk","github","in"]) 
    .footer__col
      .footer-quote 
        .footer-quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете. <span class="text-bold"> — Martin Golding</span>
  .footer__copyright
    | © Максим Кайль | Создано с любовью в LoftSchool | 2017
