.full-menu
  .full-menu__wrapper
    ul.full-menu__list
      li.full-menu__item
        a(href="work.html").full-menu__link Мои работы
      li.full-menu__item
        a(href="blog.html").full-menu__link Блог
      li.full-menu__item
        a(href="about.html").full-menu__link Обо мне
      li.full-menu__item
        a(href="index.html").full-menu__link Авторизация