extends ../template
include ../common/_mixins.pug

block variables
  - var title = 'Блог'
  
block content
  section.section.head
    .head__socials
      +social('social', ["vk","github","in"])
    include ../common/hamburger-menu.pug
    .head__title
      .user
        .user__pic
          img(src="assets/images/content/man1.jpg", alt="").user__avatar
        .user__desc
          h1.block-title.block-title_color_white Блог
            svg.head-title__pic.head-title__pic_position
              use(xlink:href="assets/images/sprite/sprite.svg#blog_header")
          .user__info Статьи, которые я написал
    .head__scroll-arrow
      a(href="#").arrow__down
        svg.arrow__down-pic
          use(xlink:href="assets/images/sprite/sprite.svg#arrow_down")
    .tiangle
      svg(class="traingle_blog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
        polygon(class="left" points="0,0   0,86   500.8,86   500.8,75.5")
        polygon(class="right" points="1000,0   1000,86   500,86   500,75.5")

  section.section.container
    .blog
      .blog__left
        .blog__sidebar
          aside.sidebar-blog
            +sidebar('sidebar-blog',['Самое важное в SASS', 'Приёмы в вёрстке, без которых не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Jade'])
      .blog__right
        ul.articles
          li.articles__item
            article.article
              h3.article__title Самое важное в SASS
              time(datetime="2016-11-22").article__data 22 ноября 2016
              .article__content
                p.article__content-parag Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p.article__content-parag Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                .article__content-img
                  img(src="assets/images/content/code.jpg", alt="").article__content-pic
          li.articles__item
            article.article
              h3.article__title Приёмы в вёрстке, без которых не обходитсяни один сайт
              time(datetime="2016-11-13").article__data 13 ноября 2016
              .article__content
                p.article__content-parag Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p.article__content-parag Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          li.articles__item
            article.article
              h3.article__title Приёмы в вёрстке, без которых не обходитсяни один сайт
              time(datetime="2016-11-13").article__data 13 ноября 2016
              .article__content
                p.article__content-parag Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p.article__content-parag Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          li.articles__item
            article.article
              h3.article__title Приёмы в вёрстке, без которых не обходитсяни один сайт
              time(datetime="2016-11-13").article__data 13 ноября 2016
              .article__content
                p.article__content-parag Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p.article__content-parag Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

  +footer('footer__blog')  