extends ../template
include ../common/_mixins.pug

block variables
  - var title = 'Добро пожаловать'

block content 
    section.welcome
      .user.welcome__user
        .user__pic
          img(src="../assets/images/content/man1.jpg", alt="").user__avatar
        .user__desc
          .user__name Максим Кайль
          .user__info.user__info_padding Личный сайт веб разработчика
        +social('social', ["vk","github","in"])
        nav.nav
          ul.nav__list
            li.nav__item
              a.nav__link(href="./work.html") Мои работы
            li.nav__item
              a.nav__link(href="./about.html") Обо мне
            li.nav__item
              a.nav__link(href="./blog.html") Блог
      a.authorization-btn(href="#") Авторизоваться