extends ../template

block variables
  - var title = 'Добро пожаловать'

block content 
  .wrapper
    .container
      svg(width="55" height="55")
        use(xlink:href="assets/images/sprite/sprite.svg#github_round")
      include ../common/hamburger-menu