extends ../template
include ../common/_mixins.pug

block variables
  - var title = 'Мои работы'

block content
  section.section.head
    .head__socials
      +social('social', ["vk","github","in"])
    include ../common/hamburger-menu.pug
    .head__title
      .section-title
        svg.head-title__pic
          use(xlink:href="assets/images/sprite/sprite.svg#portfolio_header")
      .user.head__user
        .user__pic
          img(src="../assets/images/content/man1.jpg", alt="").user__avatar
        .user__desc
          .block__title.block__title_color_white Блог
          .user__info Статьи, которые я написал
    .head__scroll-arrow
      a(href="#").arrow__down
        svg.arrow__down-pic
          use(xlink:href="assets/images/sprite/sprite.svg#arrow_down")
    .tiangle
      svg(class="traingle_blog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
        polygon(class="left" points="0,0   0,86   500.8,86   500.8,75.5")
        polygon(class="right" points="1000,0   1000,86   500,86   500,75.5")
  section.section.works
    .works__head
      .works__title Мои работы
      .works__bg
        svg.works__pic
          use(xlink:href="assets/images/sprite/sprite.svg#works_header")
    .works__slide
      .slider
        .slider-desc
        ul.slider-desc__list
          li.lider-desc__item
  include ../common/footer.pug  