extends ../template
include ../common/_mixins.pug

block variables
  - var title = 'Мои работы'

block content
  include ../common/fullscreen-menu.pug
  section.section.head
    .head__socials
      +social('social', ["vk","github","in"])
    include ../common/hamburger-menu.pug
    .head__title
      .section-title
        svg.head-title__pic
          use(xlink:href="assets/images/sprite/sprite.svg#portfolio_header")
      .user.head__user
        .user__pic
          img(src="assets/images/content/man1.jpg", alt="").user__avatar
        .user__desc
          .user__name Максим Кайль
          .user__info Личный сайт веб разработчика
    .head__scroll-arrow
      button.arrow__down
        svg.arrow__down-pic
          use(xlink:href="assets/images/sprite/sprite.svg#arrow_down")
    .tiangle
      svg(class="traingle_blog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
        polygon(class="left" points="0,0   0,86   500.8,86   500.8,75.5")
        polygon(class="right" points="1000,0   1000,86   500,86   500,75.5")

  section.section.works
    .works__head
      h1.block-title Мои работы
        .block-title__bg
          svg.works__pic
            use(xlink:href="assets/images/sprite/sprite.svg#works_header")
    .slider
      .slider-info
        ul.slider-info__list
          li.slider-info__item
            .slider-info__title
              h2.block-smalltitle Сайт школы онлайн Образования
            .slider-info__techno HTML , CSS, JAVASCRIPT
            .slider-info__btn
              a(href="#").slider-info__link Посмотреть сайт
                svg.slider-info__pic
                  use(xlink:href="assets/images/sprite/sprite.svg#link")
      .slider-top
        ul.slider-top__list
          li.slider-top__item
            .slider-photo
              img(src="assets/images/content/site1.png",alt="").slider-photo__pic
      .slider-btns
        .slider-btns__left
          button.slider-button
            svg.slider-btn.slider-btn__prew
              use(xlink:href="assets/images/sprite/sprite.svg#arrow_down")
          .slider-photo
              img(src="assets/images/content/site1.png",alt="").slider-photo__pic
        .slider-btn__right
          button.slider-button
            svg.slider-btn.slider-btn__next
              use(xlink:href="assets/images/sprite/sprite.svg#arrow_down")
          .slider-photo
              img(src="assets/images/content/site1.png",alt="").slider-photo__pic

  section.section.reviews
    .works__head.reviews__head
      h2.block-title Что обо мне говорят
        .block-title__bg
          svg.works__pic
            use(xlink:href="assets/images/sprite/sprite.svg#about_header")
    ul.reviews__list
      li.reviews__item
        blockquote.feedback
          .reviews__quotes
            img(src="assets/images/bg/quotes.png", alt="").reviews__quotes-pic
          .reviews__avatar
            .reviews__avatar-pic
              img(src="assets/images/content/teacher1.jpg", alt="").reviews__avatar-img
          .reviews__text
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 3 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviews__info <cite class="reviews__name"> Ковальчук Дмитрий </cite> - основатель школы Loftschool
      li.reviews__item
        blockquote.feedback
          .reviews__quotes
            img(src="assets/images/bg/quotes.png", alt="").reviews__quotes-pic
          .reviews__avatar
            .reviews__avatar-pic
              img(src="assets/images/content/teacher.jpg", alt="").reviews__avatar-img
          .reviews__text
            p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .reviews__info <cite class="reviews__name"> Сабанцев Владимир </cite> - преподаватель
    .block-form
      .form-wrap
        h2.block-smalltitle.form__title Связаться со мной
        form(action="", method="post").form
          .form__contact
            label(for="name").visuallyHidden Введите имя
            input(type="text", id="name" placeholder="Имя").form__input
          .form__contact
            label(for="email").visuallyHidden Ввидите email
            input(type="text", id="email" placeholder="Email").form__input
          .form__contact
            textarea(type="text", id="comment" placeholder="Ваше сообщение").form__textarea
          .form__btns
            button(type="submit").form__btn.form__btn_border-radius_left Отправить
            button(type="reset").form__btn.form__btn_border-radius_right Очистить
    .bottom__scroll-arrow
      button.arrow__up
        svg.arrow__down-pic
          use(xlink:href="assets/images/sprite/sprite.svg#arrow_down")
    +footer('footer__works')