.head {
  background: url('../images/bg/forest-bg.jpg') 0/cover fixed;
  // background-size: cover;
  height: 600px;
  position: relative;
}

.head__socials {
  position: absolute;
  top: 30px;
  left: 30px;
}

.social {
  display: flex;
  @include phones {
    justify-content: center;
  }
}

.social__item {
  margin-right: 27px;
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: inline-block;
}

.social__svg {
  fill: #fff;
  width: 31px;
  height: 22px;
  transition: .3s;
  &:hover {
    fill: $green;
  }
  &:focus {
    fill: $green;
  }
  &:active {
    fill: $green;
  }
  @include phones {
    width: 21px;
    height: 17px;
  }
}

.head__menu {
  position: absolute;
  top: 30px;
  right: 30px;
}

.head__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-title__pic {
  width: 80vw;
  height: 53vh;
  fill: #fff;
  fill-opacity: .12;
  @include phones {
    height: inherit;
  }
}

.head__user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user__pic {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
}

.user__avatar {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user__name {
  @include roboto(medium);
  font-size: 35px;
  color: #fff;
  @include phones {
    font-size: 20px;
  }
}

.user__info {
  @include roboto(regular);
  color: #fff;
  @include phones {
    font-size: 14px;
  }
}

.head__scroll-arrow {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.arrow__down-pic {
  width: 26px;
  height: 18px;
  fill: #fff;
  fill-opacity: .70;
  transition: .3s;
  &:hover {
    transform: translateY(20%);
    fill-opacity: inherit;
  }
  &:focus {
    transform: translateY(20%);
    fill-opacity: inherit;
  }
}

.about {
  display: flex;
  position: relative;
  @include tablets {
    position: inherit;
    display: block;
  }
}

.about__left {
  min-width: 50%;
  background: #ebefe2;
  @include tablets {
    position: relative;
  }
}

.about__right {
  min-width: 50%;
  background: #f4f5f0;
  @include tablets {
    padding-top: 45px;
  }
}

.about__triangle {
  position: absolute;
  bottom: 100%;
  width: 100%;
  display: grid;
}

.triangle_fill_gray {
  fill: #ebefe2;
}

.triangle_fill_white {
  fill: #f4f5f0;
  @include tablets {
    fill: #ebefe2;
  }
}

.about__left-title {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

.about__left-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #93c42e;
  width: 50%;
  fill-opacity: .10;
}

.block-title {
  @include sansus();
  font-size: 63px;
  text-transform: uppercase;
  color: #373e42;
  text-align: center;
  &:after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 3px;
    background: #373e42;
    @include phones {
      width: 51px;
    }
  }
  @include tablets {
    font-size: 49px;
  }
  @include phones {
    font-size: 35px;
  }
}

.user-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-desc__img {
  min-width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.user-desc__avatar {
  overflow: hidden;
  border-radius: 5px;
  width: 65%;
  @include phones {
    width: 98%;
  }
}

.user-desc__title {
  text-align: center;
  margin-bottom: 25px;
}

.block-smalltitle {
  text-align: center;
  @include sansus();
  font-size: 35px;
  color: #566358;
  text-transform: uppercase;
  &:after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 3px;
    background: #373e42;
    @include phones {
      width: 54px;
    }
  }
  @include tablets {
    font-size: 30px;
  }
  @include phones {
    font-size: 21px;
  }
}

.user-desc__text {
  width: 56%;
  margin-bottom: 25px;
  @include tablets {
    width: 62%;
  }
  @include phones {
    width: 98%;
  }
}

.text__style {
  @include roboto(regular);
  color: #566358;
}

.about__right-title {
  display: flex;
  width: 53%;
  margin: 0 auto 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  @include tablets {
    width: 36%;
    margin: 0 auto 20px;
  }
  @include phones {
    width: 60%;
  }
}

.about__right-desc {
  margin: 0 40px 50px;
  @include tablets {
    width: 63%;
    margin: 0 auto 45px;
  }
  @include phones {
    width: 98%;
  }
}

.skills-list {
  margin: 0 40px;
}

.skills-row__title {
  @include roboto(medium);
  font-size: 28px;
  color: #566358;
  @include tablets {
    text-align: center;
    font-size: 20px;
  }
}

.skills-row__item {
  position: relative;
  @include tablets {
    margin-right: 20px;
  }
  @include phones {
    margin-right: 0;
    width: 50%;
  }
}

.skills-row__list {
  display: flex;
  text-align: center;
  @include tablets {
    justify-content: center;
  }
  @include phones {
    flex-wrap: wrap;
  }
}

.skills-list__item {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablets {
    margin-bottom: 29px;
  }
}

.skill__title {
  font-size: 12px;
  color: $green;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill__circle {
  position: relative;
  max-width: 100%;
  
}

.g-circles {
  fill: none;
  stroke-width: 20;
}

.sector {
  fill: none;
  stroke-dasharray: 190 345;
  transition: all 1s;
  stroke-width: 20;
}

.map {
  position: relative;
}

.contact-row__svg {
  width: 24px;
  height: 24px;
  fill: #6c9c5a;
}

.map__data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include tablets {
    top: 40%;
  }
  @include phones {
    top: 0;
    left: 0;
    right: 0;
    transform: inherit;
  }
}

.contacts {
  background: rgba(#f4f5f0, .85);
  padding: 30px 40px;
  border-radius: 5px;
}

.contacts__title {
  margin-bottom: 30px;
}

.contacts__item {
  margin-bottom: 25px;
  @include phones {
    margin-bottom: 14px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.contact-row {
  display: flex;
}

.contact-row__icon {
  margin-right: 10px;
}