.welcome {
  background: url('../images/bg/forest-bg.jpg') center center no-repeat;
  background-size: cover;
}

.welcome {
  width: rem(375px);
  height: rem(350px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(#122620, .6);
  border-radius: rem(10px) rem(10px) 0 0;
}

.welcome__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: rem(40px);
}

.avatar {
  width: rem(140px);
  height: rem(138px);
  border-radius: 50%;
  overflow: hidden;
  
}

.avatar__image {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: rem(15px);
}

.info__name {
  @include roboto(medium);
  color: #fff;
  font-size: rem(28px);
  text-align: center;
}

.info__text {
  @include roboto(regular);
  font-size: rem(16px);
  color: #fff;
  text-align: center;
  margin-top: rem(5px);
}

.social {
  margin-top: rem(38px);
  display: flex;
}

.social__item {
  margin-right: rem(30px);
  &:last-child {
    margin-right: 0;
  }
}

.social__pic {
  width: rem(28px);
  height: rem(22px);
}

.social__icon {
  width: 100%;
  height: 100%;
  fill: rgba(#fff, .5);
  transition: .3s;
  &:hover {
    fill: $green;
  }
}

.nav {
  position: absolute;
  top: 100%;
}

.nav__list {
  display: flex;
  overflow: hidden;
  border-radius: 0 0 rem(10px) rem(10px);
}

.nav__item {
  background: $w-green;
  padding: rem(13px) rem(30px);
  border-right: rem(2px) solid rgba(#fff, .5);
  cursor: pointer;
  transition: .3s;
  &:last-child {
    border-right: none;
  }
  &:hover{
    background: $d-green;
  }
}

.nav__link {
  text-decoration: none;
  @include roboto(medium);
  color: #fff; 
}

.authorization-btn {
  position: absolute;
  top: rem(10px);
  right: rem(100px);
  @include roboto(medium);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: rem(1px) solid #fff;
  border-radius: rem(20px);
  padding: rem(10px) rem(27px);
  cursor: pointer;
  transition: .3s;
  &:hover{
    border: rem(1px) solid #729e19;
    background: $green;

  }
}