.welcome {
  background: url('../images/bg/forest-bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.welcome__user {
  width: rem(380px);
  height: rem(350px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(#122620, .6);
  border-radius: rem(10px) rem(10px) 0 0;
}

.user__info_padding {
  margin-bottom: 35px;
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
}

.nav__list {
  display: flex;
  overflow: hidden;
  border-radius: 0 0 rem(10px) rem(10px);
}

.nav__item {
  width: 100%;
  background: $w-green;
  padding: rem(13px) 0;
  border-right: rem(2px) solid rgba(#fff, .5);
  cursor: pointer;
  transition: .3s;
  flex: 1;
  &:last-child {
    border-right: none;
  }
  &:hover{
    background: $d-green;
  }
}

.nav__link {
  text-decoration: none;
  @include roboto(medium);
  color: #fff; 
}

.authorization-btn {
  position: absolute;
  top: rem(10px);
  right: rem(100px);
  @include roboto(medium);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: rem(1px) solid #fff;
  border-radius: rem(20px);
  padding: rem(10px) rem(27px);
  cursor: pointer;
  transition: .3s;
  &:hover{
    border: rem(1px) solid #729e19;
    background: $green;

  }
}

.copyright {
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}