.welcome {
  background: url('../images/bg/forest-bg.jpg') center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.user {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.welcome__user {
  background: rgba(#122620, .6);
  width: 380px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  border-radius: rem(10px) rem(10px) 0 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 2s;
  &:hover {
    animation: flip-reverse 3s both;
    &+.user__auth {
      animation: flip 3s both;
    }
  }
  @include phones {
    width: 98%;
    height: 50%;
  }
}

.user__auth {
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(-180deg);
  backface-visibility: hidden;
  background: rgba(#122620, .6);
  border-radius: rem(10px) rem(10px) 0 0;
  transition: 2s;
  @include phones {
    transform: translate(-50%, -50%) rotateY(-180deg);
    backface-visibility: hidden;
    width: 98%;
    height: 50%;
  }
}

@keyframes flip-reverse {
  from {
    transform: translate(-50%, -50%) rotateY(0deg)
  }
  to {
    transform: translate(-50%, -50%) rotateY(-180deg)
  }
}

@keyframes flip {
  from {
    transform: translate(-50%, -50%) rotateY(-180deg)
  }
  to {
    transform: translate(-50%, -50%) rotateY(0deg)
  }
}

.user__auth-title {
  margin-top: 30px;
  margin-bottom: 30px;
  .block-smalltitle {
    color: #fff;
  }
  .block-smalltitle:after {
    background: #fff;
    margin-top: 15px;
  }
}

.user__auth-form {
  min-width: 100%;
}

.user__desc {
  margin-bottom: 35px;
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
}

.nav__list {
  display: flex;
  overflow: hidden;
  border-radius: 0 0 rem(10px) rem(10px);
}

.nav__item {
  width: 100%;
  background: $w-green;
  padding: rem(13px) 0;
  border-right: rem(2px) solid rgba(#fff, .5);
  cursor: pointer;
  transition: .3s;
  flex: 1;
  &:last-child {
    border-right: none;
  }
  &:hover {
    background: $d-green;
  }
  &:focus {
    background: $d-green;
  }
  &:active {
    background: $d-green;
  }
}

.nav__link {
  text-decoration: none;
  @include roboto(medium);
  color: #fff; 
}

.authorization-btn {
  position: absolute;
  top: rem(10px);
  right: rem(100px);
  @include roboto(medium);
  color: #fff;
  border: rem(1px) solid #fff;
  border-radius: rem(20px);
  padding: rem(10px) rem(27px);
  cursor: pointer;
  transition: .3s;
  background: transparent;
  &:hover {
    border: rem(1px) solid #729e19;
    background: $green;
  }
  &:focus {
    border: rem(1px) solid #729e19;
    background: $green;
  }
  &:active {
    border: rem(1px) solid #729e19;
    background: $green;
  }
  @include phones {
    right: inherit;
    left: 50%;
    // top: 50%;
    transform: translate(-50%);
  }
}

.copyright {
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  @include phones {
    font-size: 14px;
    text-align: center;
    width: 98%;
  }
}