.section {
  background-color:  #f4f5f0;
}

.works {
  min-width: 100%;
  height: 100%;
}

.works__head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9f5;
  padding: 40px 0;
}

.slider {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include tablets {
    flex-wrap: nowrap;
  }
}


.slider-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #ebefe2;
  @include tablets {
    width: 100%;
    order: 1;
  }
}

.slider-info__list {
  width: 90%;
}

.slider-info__item {
  text-align: center;
}

.slider-info__title {
  margin-bottom: 35px;
}

.slider-info__techno {
  margin-bottom: 55px;
}

.slider-info__techno {
  @include roboto(medium);
  color: $green;
}

.slider-info__pic {
  width: 20px;
  height: 20px;
}

.slider-info__btn {
  display: flex;
  justify-content: center;
  align-content: center;
}

.slider-info__link {
  @include roboto(medium);
  color: #fff;
  text-decoration: none;
  align-items: center;
  display: flex;
  background-color: #6c9c5a;
  padding: 13px 20px;
  border-radius: 50px;
  transition: .3s;
  &:hover {
    background-color: #4e8839;
  }
  &:focus {
    background-color: #4e8839;
  }
  &:active {
    background-color: #4e8839;
  }
}

.slider-info__pic {
  fill: #fff;
  margin-right: 12px;
  order: -10;
}

.slider-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  background: #e1e4d7;
  @include tablets {
    width: 100%;
    display: block;
  }
}

.slider-top__list {
  margin: auto
}

.slider-btns {
  width: 50%;
  height: 30%;
  background-color: #e1e4d7;
  display: flex;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b0b7aa;
    opacity: .70;
  }
  @include tablets {
    height: 100%;
    width: 100%;
    order: 2;
  }
}

.slider-btns__left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  background: #bec3b9;
}

.slider-btn__right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  background: #aeb2aa;
}
.slider-button{
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.slider-btn {
  fill: white;
  width: 26px;
  height: 18px;
}

.slider-btn__next {
  transform: rotate(180deg);
}

.block-title__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.works__pic {
  fill: #93c42e;
  fill-opacity: .10;
  width: 100%;
}

.slider-photo {
  max-width: 100%;
  @include tablets {
    max-width: 80%;
    margin: auto;
  }
}

.slider-photo__pic {
  width: 100%;
}

.reviews {
  background: url('../images/bg/bg-work.png') 0/cover fixed;
  // background-size: cover;
  // height: 100vh;
  position: relative;
}

.reviews__head {    
  width: 47%;
  margin: auto;
  background-color: inherit;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 65px;
}

.reviews__item {
  position: relative;
  width: 50%;
}

.feedback {
  margin: 0;
}

.reviews__quotes {
  position: absolute;
  top: 32%;
  left: 17%;
  opacity: .10;
}

.reviews__avatar {
  margin-bottom: 20px;
}

.reviews__avatar-pic {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  max-width: 77px;
  max-height: 77px;
}

.reviews__avatar-img {
  width: 100%;
}

.reviews__text {
  @include roboto(italic);
  color: #5d5a55;
  width: 66%;
  margin: 0 auto 25px;
}

.reviews__info {
  @include roboto(italic);
  color: #5d5a55;
  width: 41%;
  margin: 0 auto;
}

.reviews__name {
  @include roboto(bolditalic);
  color: $green;
}

.bottom__scroll-arrow {
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: rotate(180deg);
  @include tablets {
    bottom: 23%;
  }
}

.arrow__up, .arrow__down {
  background: transparent;
  border: none;
  cursor: pointer;
}

.footer__works {
  position: inherit;
}