//colors
$dark: #122620;
$green: #4e8839;
$w-green: #5f8a51;
$d-green: #457935;

@import './layout/normalize.scss';
//fonts
@import './common/fonts.scss';
//layout
@import './layout/mixins.scss';
@import './layout/layout.scss';

@import './common/footer.scss';
@import './common/hamburger-menu.scss';
// pages
@import './pages/index.scss';
@import './pages/about.scss';
@import './pages/work.scss';
@import './pages/blog.scss';
