  .footer {
  position: absolute;
  bottom: 0;
}

.footer__main {
  display: flex;
  background: rgba(#373e42, .85);
  flex-wrap: wrap;
  @include phones {
    flex-direction: column;
  }
}

.footer__col {
  position: relative;
  flex: 1;
  margin: 30px;
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    background: #69716e;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
  }
  &:first-child:after {
    background: transparent;
  }
  @include phones {
    &:after {
      width: 95%;
      height: 1px;
      margin: auto;
      background: #69716e;
      position: absolute;
      top: -21%;
      left: 50%;
      transform: translate(-50%);
    }
   text-align: center;
    margin: 17px 0;
  }
}

.footer_width {
  @include tablets {
    flex: inherit;
  }
}

.footer__desc-text {
  @include roboto(light);
  color: #fff;
}

.menu__list {
  display: flex;
  margin-bottom: 20px;
  @include phones {
    justify-content: center;
  }
}

.menu__item {
  margin-right: 12px;
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  color: #fff;
  @include roboto(medium);
  text-align: center;
  &:after {
    content: '';
    margin: 0 auto;
    display: block;
    width: 0;
    height: 3px;
    transition: .3s;
  }
  &:focus:after {
    width: 100%;
    background: #fff;
  }
  &:hover:after {
    width: 100%;
    background: #fff;
  }
  @include tablets {
    font-size: 14px;
  }
}

.footer-quote {
  width: 99%;
}

.footer-quote__text {
  @include roboto(lightitalic);
  color: #fff;
  opacity: .7;
  @include tablets {
    font-size: 14px;
  }
  @include phones {
    text-align: center;
  }
}

.text-bold {
  @include roboto(bolditalic);
  color: #fff;
}

.footer__copyright {
  background: rgba(#6c9c5a, .85);
  text-align: center;
  color: #fff;
  padding: 10px 0 15px;
  @include tablets {
    font-size: 14px;
  }
}
