.hamburger__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-top,
.hamburger-center,
.hamburger-bottom {
  display: block;
  height: 5px;
  width: 40px;
  border-radius: 2px;
  background: #fff;
  margin-bottom: 10px;
}